<div class="row justify-content-center pt-5"  style="border:none;">
  <div class="col-4">
    <div class="card shadow" style="border:none;background-color: #f9f9f9;">
      <div class="card-header bg-white"  style="border:none;">
        <h4 class="text-success text-center">New</h4>
      </div>
      <div class="card-body justify-content-center" style="border:none;">
        <div class="row" >
          <div class="col-10">
            <input class="form-control" [(ngModel)]="newTask" placeholder="Enter new task" />
          </div>
          <div class="col-2">
            <button class="btn btn-success" (click)="addTask()">Add</button>
          </div>
        </div>
        <ul class="p-2 task-list">
          <li *ngFor="let todoItem of todoLIst; let i=index" 
              class="align-items-center pt-4 d-flex justify-content-between bg-body-secondary shadow" 
              style="list-style-type: none; padding:12px; border-radius:5px;margin-bottom: 12px;"
              [ngClass]="{'completed':todoItem.completed}"
          >

            <input type="checkbox" class="form-check-input me-3" 
            [(checked)]="todoItem.completed"
             (change)="toggleompleted(i)" >
            <span [class.competed]="todoItem.completed" class="fs-4 me-3">{{todoItem.task}}</span>
            <button class="btn btn-danger" (click)="deleteTask(todoItem.id)">Delete</button>
          </li>
        </ul>
        
      </div>
    </div>
  </div>
</div>
